<div class="jumbotron">
  <h1>Decision Matrix Live</h1>
  <p class="lead">
    Make Real Time Decisions
  </p>
  <p><a class="btn btn-lg btn-success" ng-click="initMatrix()">Start Here<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Real Time Decisions</h4>
  <p>
    Get feedback in real time from multiple voters.
  </p>
</div>

<!--<iframe type='text/html' frameborder='0' width='800' height='656' src='https://winkit.in/embed/decision-matrix-full-1?autoplay=0'></iframe>-->
